#root {
  background-color: black;
  min-height: 100vh;
  padding: 30px;
}
body {
  background-color: black;
}
.Not-found h1 {
  color: #ffffff;
}
.HomeBtnLogin {
  margin-right: 10px;
}
.HomeBtnLogin a {
  color: yellow;
}
.HomeName {
  padding-left: 20px;
}
.iMDB {
  background-color: rgb(224, 224, 121);
  padding: 10px;
  width: 100px;
  height: 50px;
}
.iMDB p {
  color: red;
  font-size: x-large;
  font-weight: bolder;
}
.userUtils {
  display: flex;
}
.userUtils a {
  color: #e4b721;
}
.signInfooter {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.signInfooter a {
  color: yellow;
}
.usersignin {
  margin: auto;
  max-width: 1500px;
  padding: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}
.User-form-input-Edit-buttons {
  display: flex;
  justify-content: space-between;
}
.saveBtn {
  width: 160px;
}
.User-form-input-AddFormbuttons {
  display: flex;
  justify-content: space-between;
}
.AddUserBtn {
  width: 160px;
}
.cancelBtn {
  width: 160px;
  height: 60px;
}
.userupdate {
  margin: auto;
  max-width: 1500px;
  padding: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}
.LoginForm {
  margin: auto;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  /* background-color: rgb(212, 215, 215); */
  background-color: #ffffff;
  border-radius: 15px;
}
.LoginBtns {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoginBtn {
  background-color: #e4b721;
  width: 160px;
  color: black;
}

.LoginFormSignUpBtn {
  background-color: #e4b721;
  width: 300px;
  color: black;
  text-align: center;
}
.moviecards {
  margin: 20px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgb(216, 223, 228);
  color: black;
}
.moviecards p {
  color: black;
}
.moviecards h3 {
  color: black;
}
.moviecards span {
  color: red;
}
.movieCardBtns {
  grid-template-columns: 1fr 1fr;
}
.movieCardBtns a {
  background-color: #e4b721;
  color: black;
}
.AddRatingBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px auto;
  max-width: 200px;
}
.infoBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: ghostwhite;
  padding: 5px;
  margin-left: 74px;
  margin-right: 16px;
  color: red;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.logout {
  width: 160px;
}
.logoutBtn {
  background-color: #e4b721;
  color: black;
}
.userModalBtns {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.userModalCancel {
  width: 160px;
  height: 60px;
}
.userModalEdit {
  width: 160px;
  height: 60px;
}
.pagination {
  background-color: #ffffff;
}
.ModalDialog {
  background-color: aliceblue;
}
.Rating {
  padding: 30px;
}
.Rating p {
  margin-bottom: 3px;
}
.RatingStars {
  background-color: #e4b721;
}
.AddMovie {
  padding: 30px;
  border-radius: 15px;
  background-color: #f1eee5;
}
.AddMovie-AddBtns {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.AddMovie-CancelBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.AddMovieBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.viewOneMovie {
  margin: auto;
  max-width: 1000px;
  padding: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}
.viewOneMovie h1 {
  text-align: center;
}
.Moviedetails {
  border-radius: 15px;
  padding: 20px;
  background-color: #f1eee5;
}
.Moviedetails span {
  font-weight: bold;
}
.ratingDetails {
  border-radius: 15px;
  padding: 20px;
  background-color: #f1eee5;
}
.closeMovie {
  margin: auto;
  max-width: 100px;
  display: flex;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(230, 118, 77);
}
.closeMovie a {
  color: black;
}
.search {
  display: flex;
  padding: 20px;
}
.search input {
  height: 20px;
  margin-top: 20px;
  color: black;
}
.searchBar {
  height: 20px;
  background-color: rgb(228, 224, 217);
}
.searchBtn {
  background-color: #e4b721;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.sortBtns {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.ASCBtn {
  width: 105px;
  height: 35px;
  background-color: rgb(228, 224, 217);

  /* background-color: whitesmoke; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.DESCBtn {
  width: 105px;
  height: 35px;
  background-color: rgb(228, 224, 217);

  /* background-color: whitesmoke; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.EditMovieForm {
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  color: black;
}
.EditMovieForm label {
  font-weight: bold;
}
.EditMovie-AddBtns {
  display: flex;
  justify-content: space-between;
}
.EditMovie-CancelBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.EditMovieBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.EditUserForm {
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  color: black;
}
.EditUserForm label {
  font-weight: bold;
}
.EditUser-AddBtns {
  display: flex;
  justify-content: space-between;
}
.EditUser-CancelBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.EditUserBtn {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.ChangePassword {
  background-color: #e88d48;
  color: black;
}
.updatePwdForm {
  margin: 20px;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  color: black;
}
.updatePwdForm label {
  font-weight: bold;
}
.changePasswordBtns {
  display: flex;
  justify-content: space-between;
}
.changePasswordCancelButton {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
.changePassword {
  width: 160px;
  height: 60px;
  background-color: #e4b721;
  color: black;
}
@media (min-width: 320px) {
  .showMovies {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 480px) {
  .showMovies {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 570px) {
  .showMovies {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .showMovies {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 991px) {
  .showMovies {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 1100px) {
  .showMovies {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .showMovies {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media (min-width: 1920px) {
  .showMovies {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
