/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root {
  margin: 50px;
  background-color: black;
  padding: 40px;
}
body {
  background-color: black;
}
.Not-found h1 {
  color: #ffffff;
}
.HomeBtnLogin {
  margin-right: 10px;
}
.HomeBtnLogin a {
  color: yellow;
}
.HomeName {
  padding-left: 20px;
}
.iMDB {
  background-color: rgb(224, 224, 121);
  padding: 10px;
  width: 100px;
  height: 50px;
}
.iMDB p {
  color: red;
  font-size: x-large;
  font-weight: bolder;
}
.userUtils {
  display: flex;
}
.userUtils a {
  color: #e4b721;
}
.signInfooter {
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.signInfooter a {
  color: yellow;
}
.usersignin {
  margin: auto;
  max-width: 1500px;
  padding: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}
.User-form-input-Edit-buttons {
  display: flex;
  justify-content: space-between;
}
.saveBtn {
  width: 160px;
}
.User-form-input-AddFormbuttons {
  display: flex;
  justify-content: space-between;
}
.AddUserBtn {
  width: 160px;
}
.cancelBtn {
  width: 160px;
  height: 60px;
}
.userupdate {
  margin: auto;
  max-width: 1500px;
  padding: 50px;
  border-radius: 15px;
  background-color: #ffffff;
}
.LoginForm {
  margin: auto;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  /* background-color: rgb(212, 215, 215); */
  background-color: #ffffff;
  border-radius: 15px;
}
.LoginBtns {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoginBtn {
  background-color: #e4b721;
  width: 160px;
  color: black;
}

.LoginFormSignUpBtn {
  background-color: #e4b721;
  width: 300px;
  color: black;
  text-align: center;
}
.moviecards {
  margin: 20px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgb(216, 223, 228);
  color: black;
}
.moviecards p {
  color: black;
}
.moviecards h3 {
  color: black;
}
.moviecards span {
  color: red;
}
.movieCardBtns {
  grid-template-columns: 1fr 1fr;
}
.AddRatingBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px auto;
  max-width: 200px;
}
.infoBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: ghostwhite;
  padding: 5px;
  margin-left: 74px;
  margin-right: 16px;
  color: red;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.logout {
  width: 160px;
}
.logoutBtn {
  background-color: #e4b721;
  color: black;
}
.userModalBtns {
  gap: 100px;
}
.userModalCancel {
  width: 130px;
  height: 60px;
}
.pagination {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .showMovies {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .showMovies {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}
@media (min-width: 1920px) {
  .showMovies {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}
